<web-app>
    <servlet>
        <servlet-name>FactorialRecursion</servlet-name>
        <servlet-class>local.onlits2001.servlet.FactorialRecursion</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FactorialRecursion</servlet-name>
        <url-pattern>/factorialrecursion</url-pattern>
    </servlet-mapping>
</web-app>